.user-page-container {
  min-height: 100vh;
}
.user-page-user-page {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.user-page-rectangle34 {
  top: -1px;
  left: 0px;
  width: 1350px;
  height: 120px;
  position: absolute;
  border-color: transparent;
}
.user-page-group4 {
  top: 29px;
  left: 1095px;
  width: 200px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(112, 112, 112, 1);
}
.user-page-text {
  top: 10px;
  left: 46px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-page-text2 {
  top: 49px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  width: 314px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-page-text4 {
  top: 174px;
  left: 515px;
  color: rgba(0, 0, 0, 1);
  width: 290px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-page-group46 {
  top: 314px;
  left: 155px;
  width: 1040px;
  height: 205px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.user-page-rectangle35 {
  top: 0px;
  left: 0px;
  width: 1040px;
  height: 52px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
}
.user-page-rectangle36 {
  top: 52px;
  left: 0px;
  width: 1040px;
  height: 153px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
}
.user-page-group47 {
  top: 672px;
  left: 155px;
  width: 1040px;
  height: 205px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.user-page-rectangle37 {
  top: 0px;
  left: 0px;
  width: 1040px;
  height: 52px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
}
.user-page-rectangle38 {
  top: 52px;
  left: 0px;
  width: 1040px;
  height: 153px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
}
